<div class="ui active tab" data-tab="default">
    <h3 class="ui top attached header">{{ 'monsieurbiz.settings.ui.by_default'|trans }}</h3>
    <div class="ui attached segment">
        {{ form_row(form.default) }}
    </div>
</div>
